<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
</head>
<body>

        <div class="jumbotron">
                <h1 class="display-4">WELCOME!</h1>
                <p class="lead">This is a simple shopping site</p>
                <hr class="my-4">
                <p>you can navigate using given button</p>
                <p>if you are a user login to see your cart-list</p>
                <a class="btn btn-primary btn-lg" href="http://localhost:8877/add_product.html">ADD PRODUCT</a>        
              <a class="btn btn-primary btn-lg" href="http://localhost:8877/productlist.html" role="button">PRODUCT-LIST </a> 

  <h1>Login</h1>
  <p>Don't have account ? <a href="/signup">register now</a></p>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
 
    <button type="submit">Login</button>
 </form>
  <p>
    <a href="/login/facebook">Login with Facebook</a>
  </p>
  </div>
</body>
</html>