<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>USERNAME</h1>

  <table>
    <tr>
      <th>username</th>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <th>user id</th>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <th>email</th>
      <td>{{user.email}}</td>
    </tr>
  </table>
  <p> <a href="http://localhost:8877/cart.html">ADDED PRODUCTS TO CART</a></p>
</body>
</html>